Some SQL Joins examples

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StringType, StructField, StructType

In [3]:
# Create SparkSession
spark = SparkSession.builder\
             .master("local[1]")\
             .appName("spark-app-version-x")\
             .getOrCreate()

24/03/20 11:42:58 WARN Utils: Your hostname, sasa-1-2 resolves to a loopback address: 127.0.1.1; using 10.0.2.15 instead (on interface enp0s3)
24/03/20 11:42:58 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/03/20 11:42:58 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
# Read taxi data
local_file = '/home/sasa/Downloads/Code/notebooks/datasets/parquet/'
df = spark.read.parquet(local_file)

In [5]:
# DF is like a relation table in memory. Let's see the columns
df.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp_ntz (nullable = true)
 |-- tpep_dropoff_datetime: timestamp_ntz (nullable = true)
 |-- passenger_count: long (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: long (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: long (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- Airport_fee: double (nullable = true)

In [6]:
# Query sample, using Spark SQL
df.createOrReplaceTempView('tbl_raw_yellow_taxis')

In [7]:
# SQL Statement
spark.sql('''
          select *
          from tbl_raw_yellow_taxis
          ''').show(n=5)

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|       2| 2023-03-01 00:06:43|  2023-03-01 00:16:43|              1|          0.0|         1|                 N|         238|          42|           2|        8.6|  1.0|    0.5|       0.0|         0.0|                  1.0|        11.1|                 0.0|        0.0|
|       2| 2023-03-01 00:08:25|  2023-03-01 00:39:30|              2|         12.4|         1|                 N|         138|         231|           1|       52.7|  6.0|    0.5|     12.54|         0.0|                  1.0|       76.49|                 2.5|       1.25|
|       1| 2023-03-01 00:15:04|  2023-03-01 00:29:26|              0|          3.3|         1|                 N|         140|         186|           1|       18.4|  3.5|    0.5|      4.65|         0.0|                  1.0|       28.05|                 2.5|        0.0|
|       1| 2023-03-01 00:49:37|  2023-03-01 01:01:05|              1|          2.9|         1|                 N|         140|          43|           1|       15.6|  3.5|    0.5|       4.1|         0.0|                  1.0|        24.7|                 2.5|        0.0|
|       2| 2023-03-01 00:08:04|  2023-03-01 00:11:06|              1|         1.23|         1|                 N|          79|         137|           1|        7.2|  1.0|    0.5|      2.44|         0.0|                  1.0|       14.64|                 2.5|        0.0|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
only showing top 5 rows

Let's create a real "dimension" table, for our RateCodeID
Standard rate
JFK
Newark
Nassau or Westchester
Negotiated fare
Group ride

In [21]:
# Add Rate Code IDs
data = [("1", "Standard rate"), ("2", "JFK"), ("3", "Newark"),("4","Nassau or Westchester "),("5","Negotiated fare"), ("6","Group ride")]

In [22]:
# Define schema, to ensure data types
schema = StructType([ \
    StructField("rate_code_ID",StringType(),True), \
    StructField("RatecodeName",StringType(),True)
  ])

In [23]:
# Create Dataframe for Rate Codes
df_rate_codes = spark.createDataFrame(data=data,schema=schema)

In [24]:
# Show rates
df_rate_codes.show()

+------------+--------------------+
|rate_code_ID|        RatecodeName|
+------------+--------------------+
|           1|       Standard rate|
|           2|                 JFK|
|           3|              Newark|
|           4|Nassau or Westche...|
|           5|     Negotiated fare|
|           6|          Group ride|
+------------+--------------------+

In [25]:
# Inner join example:
df.join(df_rate_codes, df["RatecodeID"] == df_rate_codes["rate_code_ID"], "inner").show(n=5)

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------+---------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|rate_code_ID|   RatecodeName|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------+---------------+
|       2| 2023-03-01 00:29:33|  2023-03-01 00:29:36|              1|         0.29|         5|                 N|         164|         170|           1|       63.0|  0.0|    0.5|      0.65|         0.0|                  1.0|       65.15|                 0.0|        0.0|           5|Negotiated fare|
|       2| 2023-03-01 00:51:31|  2023-03-01 02:10:58|              1|        75.57|         5|                 N|         132|         265|           1|      400.0|  0.0|    0.0|      80.2|         0.0|                  1.0|      482.45|                 0.0|       1.25|           5|Negotiated fare|
|       2| 2023-03-01 00:44:24|  2023-03-01 00:44:35|              1|          0.0|         5|                 N|         189|         189|           1|       40.0|  0.0|    0.0|      12.3|         0.0|                  1.0|        53.3|                 0.0|        0.0|           5|Negotiated fare|
|       2| 2023-03-01 00:24:09|  2023-03-01 01:09:50|              1|        29.12|         5|                 N|         193|         265|           1|       70.0|  0.0|    0.0|      14.2|         0.0|                  1.0|        85.2|                 0.0|        0.0|           5|Negotiated fare|
|       2| 2023-03-01 00:01:00|  2023-03-01 00:01:12|              1|          0.0|         5|                 N|         263|         263|           1|       50.2|  0.0|    0.0|       0.0|         0.0|                  1.0|        53.7|                 2.5|        0.0|           5|Negotiated fare|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------+---------------+
only showing top 5 rows

In [26]:
# Left join example, showing those WITH NO rate code:
df.join(df_rate_codes, df["RatecodeID"] == df_rate_codes["rate_code_ID"], "left").where("RatecodeID is NULL").show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------+------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|rate_code_ID|RatecodeName|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------+------------+
|       2| 2023-03-01 00:42:33|  2023-03-01 00:49:05|           NULL|         1.38|      NULL|              NULL|         163|         229|           0|      13.35|  0.0|    0.5|      3.47|         0.0|                  1.0|       20.82|                NULL|       NULL|        NULL|        NULL|
|       1| 2023-03-01 00:32:08|  2023-03-01 00:38:15|           NULL|          0.0|      NULL|              NULL|         107|         113|           0|        8.0|  1.0|    0.5|      1.95|         0.0|                  1.0|       16.95|                NULL|       NULL|        NULL|        NULL|
|       2| 2023-03-01 00:18:00|  2023-03-01 00:31:00|           NULL|         2.79|      NULL|              NULL|         137|          48|           0|      14.98|  0.0|    0.5|       3.0|         0.0|                  1.0|       21.98|                NULL|       NULL|        NULL|        NULL|
|       2| 2023-03-01 00:23:32|  2023-03-01 00:33:43|           NULL|         3.43|      NULL|              NULL|         137|         236|           0|      16.77|  0.0|    0.5|       3.1|         0.0|                  1.0|       23.87|                NULL|       NULL|        NULL|        NULL|
|       2| 2023-03-01 00:02:50|  2023-03-01 00:23:39|           NULL|         4.52|      NULL|              NULL|         143|           4|           0|      25.39|  0.0|    0.5|      2.94|         0.0|                  1.0|       32.33|                NULL|       NULL|        NULL|        NULL|
|       1| 2023-03-01 00:19:33|  2023-03-01 00:23:21|           NULL|          0.5|      NULL|              NULL|         237|         140|           0|        5.8|  1.0|    0.5|      2.16|         0.0|                  1.0|       12.96|                NULL|       NULL|        NULL|        NULL|
|       2| 2023-03-01 00:11:48|  2023-03-01 00:41:52|           NULL|          6.3|      NULL|              NULL|         113|         151|           0|      26.48|  0.0|    0.5|      3.05|         0.0|                  1.0|       33.53|                NULL|       NULL|        NULL|        NULL|
|       2| 2023-03-01 00:55:48|  2023-03-01 01:15:11|           NULL|         5.92|      NULL|              NULL|         231|         236|           0|      24.96|  0.0|    0.5|      5.79|         0.0|                  1.0|       34.75|                NULL|       NULL|        NULL|        NULL|
|       2| 2023-03-01 00:03:00|  2023-03-01 00:18:00|           NULL|         4.54|      NULL|              NULL|         249|         140|           0|      20.24|  0.0|    0.5|      3.64|         0.0|                  1.0|       27.88|                NULL|       NULL|        NULL|        NULL|
|       2| 2023-03-01 00:07:42|  2023-03-01 00:13:51|           NULL|         1.09|      NULL|              NULL|         161|         229|           0|      12.95|  0.0|    0.5|      3.39|         0.0|                  1.0|       20.34|                NULL|       NULL|        NULL|        NULL|
|       2| 2023-03-01 00:29:41|  2023-03-01 00:43:56|           NULL|          3.5|      NULL|              NULL|         161|          79|           0|      16.49|  0.0|    0.5|       4.1|         0.0|                  1.0|       24.59|                NULL|       NULL|        NULL|        NULL|
|       1| 2023-03-01 00:36:41|  2023-03-01 00:44:30|           NULL|          1.7|      NULL|              NULL|         114|          87|           0|       10.0|  1.0|    0.5|       3.0|         0.0|                  1.0|        18.0|                NULL|       NULL|        NULL|        NULL|
|       2| 2023-03-01 00:49:25|  2023-03-01 01:13:18|           NULL|         5.88|      NULL|              NULL|         234|         225|           0|      25.55|  0.0|    0.5|       0.0|         0.0|                  1.0|       29.55|                NULL|       NULL|        NULL|        NULL|
|       2| 2023-03-01 00:27:59|  2023-03-01 00:41:02|           NULL|         3.45|      NULL|              NULL|         249|          50|           0|      16.96|  0.0|    0.5|       0.0|         0.0|                  1.0|       20.96|                NULL|       NULL|        NULL|        NULL|
|       2| 2023-03-01 00:47:00|  2023-03-01 01:09:00|           NULL|         5.53|      NULL|              NULL|         114|          61|           0|      23.48|  0.0|    0.5|       5.5|         0.0|                  1.0|       32.98|                NULL|       NULL|        NULL|        NULL|
|       2| 2023-03-01 00:03:54|  2023-03-01 00:25:17|           NULL|         5.42|      NULL|              NULL|          87|         142|           0|      30.52|  0.0|    0.5|       6.9|         0.0|                  1.0|       41.42|                NULL|       NULL|        NULL|        NULL|
|       2| 2023-03-01 00:28:58|  2023-03-01 00:39:20|           NULL|         3.21|      NULL|              NULL|         100|         232|           0|      15.56|  0.0|    0.5|      3.91|         0.0|                  1.0|       23.47|                NULL|       NULL|        NULL|        NULL|
|       1| 2023-03-01 00:12:07|  2023-03-01 00:24:12|           NULL|          0.0|      NULL|              NULL|         158|         148|           0|      12.88|  0.0|    0.5|       0.0|         0.0|                  1.0|       16.88|                NULL|       NULL|        NULL|        NULL|
|       2| 2023-03-01 00:14:50|  2023-03-01 00:20:16|           NULL|         1.06|      NULL|              NULL|         231|          87|           0|      12.95|  0.0|    0.5|      3.39|         0.0|                  1.0|       20.34|                NULL|       NULL|        NULL|        NULL|
|       2| 2023-03-01 00:19:09|  2023-03-01 00:38:41|           NULL|         3.99|      NULL|              NULL|          61|          36|           0|      18.06|  0.0|    0.5|      3.91|         0.0|                  1.0|       23.47|                NULL|       NULL|        NULL|        NULL|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------+------------+
only showing top 20 rows

In [30]:
# SQL Statement
spark.sql('''
          select RatecodeID, count(1)
          from tbl_raw_yellow_taxis
          group by RatecodeID
          ''').show(n=20)

+----------+--------+
|RatecodeID|count(1)|
+----------+--------+
|      NULL|  255126|
|         6|      14|
|         5|   45262|
|         1| 8849004|
|         3|   30360|
|         2|  361464|
|         4|   15839|
|        99|   48902|
+----------+--------+

In [31]:
# If user doesn't want to see NULL values
df_na_rate_codes = df.na.fill(value=0,subset=["RatecodeID"])

In [32]:
# Left join example, showing those WITH NO rate code:
df_na_rate_codes.join(df_rate_codes, df_na_rate_codes["RatecodeID"] == df_rate_codes["rate_code_id"], "left").where("RatecodeID is NULL").show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------+------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|rate_code_ID|RatecodeName|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------+------------+
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------+------------+

In [33]:
# Confirm counts
df_na_rate_codes.createOrReplaceTempView('tbl_na_rate_codes')

In [35]:
# SQL Statement
spark.sql('''
          select RatecodeID, count(1)
          from tbl_na_rate_codes
          group by RatecodeID
          ''').show(n=20)

+----------+--------+
|RatecodeID|count(1)|
+----------+--------+
|         0|  255126|
|         6|      14|
|         5|   45262|
|         1| 8849004|
|         3|   30360|
|         2|  361464|
|         4|   15839|
|        99|   48902|
+----------+--------+

In [36]:
# Stop the session
spark.stop()