Load and query Yellow Taxi data
Download the dataset from the official TLC Trip Record Data website.

In [1]:
from pyspark.sql import SparkSession

The --master option specifies the master URL for a distributed cluster, or local to run locally with one thread, or local[N] to run locally with N threads.

In [2]:
# Create SparkSession
spark = SparkSession.builder\
             .master("local[1]")\
             .appName("First_code")\
             .getOrCreate()

24/03/16 11:49:15 WARN Utils: Your hostname, sasa-1-2 resolves to a loopback address: 127.0.1.1; using 10.0.2.15 instead (on interface enp0s3)
24/03/16 11:49:15 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/03/16 11:49:16 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
# Read taxi data
local_file = 'Downloads/Code/notebooks/datasets/parquet/'
df = spark.read.parquet(local_file)

In [5]:
# DF is like a relation table in memory. Let's see the columns
df.printSchema()

root
 |-- VendorID: long (nullable = true)
 |-- tpep_pickup_datetime: timestamp_ntz (nullable = true)
 |-- tpep_dropoff_datetime: timestamp_ntz (nullable = true)
 |-- passenger_count: double (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: double (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: long (nullable = true)
 |-- DOLocationID: long (nullable = true)
 |-- payment_type: long (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- airport_fee: double (nullable = true)

In [6]:
# Query sample:
df2 = df.select('VendorID','total_amount').where('total_amount > 1')

In [7]:
# Query sample:
# df.select('VendorID','total_amount').where('total_amount > 1').show(n=5)
# Query sample, using Spark SQL
df.createOrReplaceTempView('tbl_raw_yellow_taxis')

In [8]:
# SQL Statement
spark.sql('select VendorID, tpep_pickup_datetime, passenger_count from tbl_raw_yellow_taxis where total_amount > 1 and passenger_count > 2').show(n=5)

+--------+--------------------+---------------+
|VendorID|tpep_pickup_datetime|passenger_count|
+--------+--------------------+---------------+
|       1| 2023-01-01 00:43:37|            4.0|
|       1| 2023-01-01 00:03:36|            3.0|
|       1| 2023-01-01 00:21:49|            4.0|
|       2| 2023-01-01 00:27:16|            4.0|
|       2| 2023-01-01 00:15:13|            5.0|
+--------+--------------------+---------------+
only showing top 5 rows

In [9]:
# Stop the session
spark.stop()